body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: normal;
    padding: 0%;
}

/*Global*/
.container {
    width: 80%;
    height: fit-content;
    margin: 0;
    overflow:hidden;
}

header ul{
    margin: 0;
    padding: 0;
}

/* Header */
header{
    background: rgb(134, 36, 87);
    color: #ffffff;
    border-bottom: #3e6e8d 3px solid;
    height: fit-content;
    padding: 10px;
}

header h1 {
    display: flex;
    align-items:flex-start;
    padding:0;
    margin: 0;
}

header h1 a {
    color: #ffffff;
    font-weight: bold;
    font-size: 26px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding-right: 20px;
}

header h1 img{
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
}

header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 0;
}


header li{
    float:left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
   float: left ;
}

header #branding h1{
    margin: 0;
    padding: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}


header .highlight{
    color:#fff;
    font-weight:bold;
    padding-left: 20px;
    padding-top: 0px;
} 

header .current a{
    color:#c79c9c;
    font-weight:bold;
    text-decoration: none;
}

header h1 a:hover{
    color:#fff;
    text-decoration: none;
}

header a:hover{
    color:#cccccc;
    font-weight: bold;
    text-decoration: none;
}


/*showcase */

#showcase{
    min-height: 350px;
    background-image: url(../IMG/bg1\ copy.jpg);
    background-repeat: no-repeat;
    background-position: right;
    color:#000 ;
    border-bottom: #831053 10px solid;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}

/*boxes*/

#boxes{
    margin-top: 20px;
    background-image: url(../IMG/pic1.jpg);
    background-size: 100%  ;
    background-repeat: no-repeat;
    background-position: right;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box{
    border-left: solid;
    display:inline-flex;
    width: 500px;
    padding: 10px;
   
}

.box img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: #000 1px solid;
}

.box h3{
    padding-left: 20px;
    padding-right: 20px;
}

.box p{
    padding-left: 20px;
    padding-right: 20px;
}

footer{
    padding: 10px;
    min-height: 10px;
    margin-top: 20px;
    color:#ffffff;
    background: rgb(134, 36, 87);
    text-align: center;
}

@media (max-width:739px){
    #showcase h1{
        font-size: 30px;
         margin: auto;

    }
    #showcase p{
        font-size: small;
        margin: 0;
    }
   
    #showcase{
        min-height: 200px;
        background-image: url(../IMG/bg1\ copy.jpg);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 40%;
        
    }

    header{
        font-size: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
       
    header a{
        font-size: 13px;
    }
   
}